<% if(locals.errors){ %> <% errors.forEach(function(error) { %>
    <div class="alert" role="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= error.msg %>
        <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button> -->
    </div>
<% }); %> <% } %> <% if(success_msg != ''){ %>
    <div class="alert" role="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= success_msg %>
    </div>
<% } %> <% if(error_msg != ''){ %>
    <div class="alert" role="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= error_msg %>
        <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>-->
    </div>
<% } %> <% if(error != ''){ %>
    <div class="alert" role="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= error %>
        <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>-->
    </div>
<% } %>