<!-- navbar start -->
<nav class="navbar">
    <div id="trapezoid">
        <a class="sub-home" href="/dashboard">Dashboard</a>
        <a href="/dashboard" class="expandHome">Home</a>
        <div class="subnav">
            <button class="subnavbtn">Clients<i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <div id="subnav-trapezoid">
                    <a href="/purchase">Purchase</a>
                    <a href="/cart">Cart</a>
                    <a href="/ordered">My orders</a>
                </div>
            </div>
        </div>
        <a href="/about">About</a>
        <a href="/users/logout">Logout</a>
    </div>
</nav>
<!-- navbar end -->

<section id="About">
    <h1>About</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
</section>

<script type="text/javascript">
    $('.expandHome').mouseover(function() {
        $('.sub-home').css({
            'display': 'block'
        });
    });
    $('.subnavbtn').mouseover(function() {
        $('.sub-home').css({
            'display': 'none'
        });
    });

    $('#trapezoid').mouseleave(function() {
        $('#trapezoid').css({
            'margin-top': '-53px'
        });
        $('.sub-home').css({
            'display': 'none'
        });
    }).mouseenter(function() {
        $('#trapezoid').css({
            'margin-top': '0px'
        });
    });
</script>