<script>
    let totalPrice = 0; //total price of the cart

    const data = <%- JSON.stringify(cart) %>; //Data containing all the bouquets that have been added to cart

    data.forEach((bouquet) => { //Sum the price of each bouquet
        totalPrice+=bouquet.price
    })

    deleteCommand = (idBouquet) => { //Delete command function
        $.post("/cart", {idBouquet: idBouquet}, () => {})
        swal({
            text: 'Article deleted successfully',
            icon: 'success',
            button: 'Ok',
            type: "success"
        }).then(function(){
                location.reload();
        })
    }
</script>

<!-- navbar start -->
<nav class="navbar">
    <div id="trapezoid">
        <a class="sub-home" href="/dashboard">Dashboard</a>
        <a href="/dashboard" class="expandHome">Home</a>
        <div class="subnav">
            <button class="subnavbtn">Clients<i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <div id="subnav-trapezoid">
                    <a href="/purchase">Purchase</a>
                    <a href="/cart">Cart</a>
                    <a href="/ordered">My orders</a>
                </div>
            </div>
        </div>
        <a href="/about">About</a>
        <a href="/users/logout">Logout</a>
    </div>
</nav>
<!-- navbar end -->


<h1 class="mt-4">Cart</h1>

<a href="/payment" class="add-command">Validate the cart</a>

<br>
<br>

<p>
    <label for="amount">Total Price: </label>
    <strong id="amount"> <script>document.getElementById("amount").innerHTML += totalPrice + "$"</script>
    </strong>
</p>

<!-- List of all bouquet of the cart start -->
<div id="product">
    <script>
        data.forEach((bouquet) => {
            document.getElementById("product").innerHTML +=
                "<div id=product"+bouquet.idBouquet+">"+
                    "<div class=predefined-article>"+
                        "<div class=predefined-article-img>"+
                            "<img src="+bouquet.image+" alt=flower>"+
                        "</div>"+
                        "<div class=info>"+
                            "<h1 class=article-name>"+ bouquet.name + "</h1>" +
                            "<p class=article-description>" + bouquet.description + "</p>" +
                            "<p>" + "Price: "+ bouquet.price + "$" + "</p>" +
                            "<button type=submit class=add-command value="+bouquet.idBouquet+" onclick=deleteCommand(this.value)>Delete</button>"+
                        "</div>"+
                    "</div>" +
                "</div>"
        })
    </script>
</div>
<!-- List of all bouquet of the cart end -->

<script>
    $(document).ready(function()
    {
        $(".predefined-article-img").find("img").css("transition", "transform 500ms ease-in-out");

        $(".predefined-article-img").hover(
            // Handler for mouseenter
            function()
            {
                $(this).find("img").css("transform", "scale(1.2)");
            },
            // Handler for mouseleave
            function()
            {
                $(this).find("img").css("transform", "scale(1)");
            }
        );
    });

    $('.expandHome').mouseover(function() {
        $('.sub-home').css({
            'display': 'block'
        });
    });
    $('.subnavbtn').mouseover(function() {
        $('.sub-home').css({
            'display': 'none'
        });
    });

    $('#trapezoid').mouseleave(function() {
        $('#trapezoid').css({
            'margin-top': '-53px'
        });
        $('.sub-home').css({
            'display': 'none'
        });
    }).mouseenter(function() {
        $('#trapezoid').css({
            'margin-top': '0px'
        });
    });
</script>

