<script>
    let price = 0;
</script>

<h1 class="mt-4">Customize</h1>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <%- include('./partials/messages') %>
            <form action="/customize" method="POST">
                <div class="form-group">
                    <label for="email">Name</label>
                    <input
                            type="text"
                            id="name"
                            name="name"
                            class="form-control"
                            placeholder="Enter Name"
                            required
                    />
                </div>
                <div class="form-group">
                    <label for="flower1">Flower 1
                        <input type="number" name="flower1" value="0">
                    </label>
                    <label for="flower1">Flower 2
                        <input type="number" name="flower2" value="0">
                    </label>
                    <label for="flower1">Flower 3
                        <input type="number" name="flower3" value="0">
                    </label>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>