<script>
    const customBouquet = <%- JSON.stringify(bouquets)%> //Data containing all custom bouquet that haven't been completed.
</script>

<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %> (Employee)</p>

<nav class="navbar">
    <div id="trapezoid">
        <a href="/users/logout">Logout</a>
    </div>
</nav>

<!-- list all custom bouquet that haven't been completed start -->
<div id="product">
    <script>
        buildCustomBouquet = (idBouquet) => {
            $.post("/dashboardEmployee", {idBouquet: idBouquet}, () => {})
            swal({
                text: 'The making of the bouquet has been confirmed',
                icon: 'success',
                button: 'Ok'
            }).then(function(){
                location.reload();
            })
        }

        customBouquet.forEach((bouquet) => {
            document.getElementById("product").innerHTML +=
                "<div id=product"+bouquet.idBouquet+">"+
                    "<div class=predefined-article>"+
                        "<div class=predefined-article-img>"+
                            "<img src="+bouquet.image+" alt=flower>"+
                        "</div>"+
                        "<div class=info>"+
                            "<h1 class=article-name>"+ bouquet.name + "</h1>" +
                            "<p class=article-description>" + bouquet.description + "</p>" +
                            "<p>" + "Price: "+ bouquet.price + "$" + "</p>" +
                            "<button type=submit class=add-command value="+bouquet.idBouquet+" onclick=buildCustomBouquet(this.value)>Make the bouquet</button>"+
                        "</div>"+
                    "</div>" +
                "</div>"
        })
    </script>
</div>
<!-- list all custom bouquet that haven't been completed end -->

<script>
    $(document).ready(function()
    {
        $(".predefined-article-img").find("img").css("transition", "transform 500ms ease-in-out");

        $(".predefined-article-img").hover(
            // Handler for mouseenter
            function()
            {
                $(this).find("img").css("transform", "scale(1.2)");
            },
            // Handler for mouseleave
            function()
            {
                $(this).find("img").css("transform", "scale(1)");
            }
        );
    });
</script>
