<script>
    validate = () => {
        $.post("/payment", {}, () => {})
        swal({
            text: 'Your command has been resolved',
            icon: 'success',
            button: 'Ok',
        })
    }
</script>

<h1 class="mt-4">Payment board</h1>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<br>
<br>

<h1>Please click on this button to validate your payment, this cannot be undone</h1>

<button class="btn btn-primary" value="data" onClick="validate()">Proceed to payment</button>