<script>
    validate = () => { //Validate and pay the cart
        $.post("/payment", {}, () => {})
        swal({
            text: 'Your command has been resolved',
            icon: 'success',
            button: 'Ok',
        })
    }
</script>

<!-- navbar start -->
<nav class="navbar">
    <div id="trapezoid">
        <a class="sub-home" href="/dashboard">Dashboard</a>
        <a href="/dashboard" class="expandHome">Home</a>
        <div class="subnav">
            <button class="subnavbtn">Clients<i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <div id="subnav-trapezoid">
                    <a href="/purchase">Purchase</a>
                    <a href="/cart">Cart</a>
                    <a href="/ordered">My orders</a>
                </div>
            </div>
        </div>
        <a href="/about">About</a>
        <a href="/users/logout">Logout</a>
    </div>
</nav>
<!-- navbar end -->

<h1 class="mt-4">Payment board</h1>

<button class="add-command" value="data" onClick="validate()">Proceed to payment</button>

<script>
    $('.expandHome').mouseover(function() {
        $('.sub-home').css({
            'display': 'block'
        });
    });
    $('.subnavbtn').mouseover(function() {
        $('.sub-home').css({
            'display': 'none'
        });
    });

    $('#trapezoid').mouseleave(function() {
        $('#trapezoid').css({
            'margin-top': '-53px'
        });
        $('.sub-home').css({
            'display': 'none'
        });
    }).mouseenter(function() {
        $('#trapezoid').css({
            'margin-top': '0px'
        });
    });
</script>
