<h1 class="mt-4">Purchase</h1>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<input type="text" id="js-range-slider" name="my_range" value="" />

<script>
    $("#js-range-slider").ionRangeSlider();
</script>