<script>
    const predefinedBouquet = <%- JSON.stringify(bouquets)%> //Data containing all predefined bouquet
</script>

<!-- navbar start -->
<nav class="navbar">
    <div id="trapezoid">
        <a class="sub-home" href="/dashboard">Dashboard</a>
        <a href="/dashboard" class="expandHome">Home</a>
        <div class="subnav">
            <button class="subnavbtn">Clients<i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <div id="subnav-trapezoid">
                    <a href="/purchase">Purchase</a>
                    <a href="/cart">Cart</a>
                    <a href="/ordered">My orders</a>
                </div>
            </div>
        </div>
        <a href="/about">About</a>
        <a href="/users/logout">Logout</a>
    </div>
</nav>
<!-- navbar end -->

<h1 class="mt-4">Purchase</h1>

<br>
<br>
<script>
    $( function() {
        $( "#slider-range" ).slider({
            range: true,
            min: 0,
            max: 100,
            values: [ 0, 100 ],
            slide: (event, ui) => { //Show or hide bouquet with price interval
                $( "#amount" ).text( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
                const priceMin = ui.values[0]
                const priceMax = ui.values[1]
                predefinedBouquet.forEach((element) => {
                    if (element.price >= priceMin && element.price <= priceMax){
                        $('#product'+element.idBouquet).fadeIn(500)
                    }else{
                        $('#product'+element.idBouquet).fadeOut(500)
                    }
                })
            }
        });
        //Print min and max price
        $( "#amount" ).text( "$" + $( "#slider-range" ).slider( "values", 0 ) +
            " - $" + $( "#slider-range" ).slider( "values", 1 ) );
    });

</script>

<!-- Price Slider -->
<div id="slider-range"></div>

<!-- Price text -->
<p>
    <label for="amount">Price range:</label>
    <strong id="amount"></strong>
</p>

<!-- List of predefined bouquet start -->
<div id="product">
    <script>
        //Add product to cart function
        addProduct = (idBouquet) => {
            $.post("/purchase", {idBouquet: idBouquet}, () => {})
            swal({
                text: 'Article added to cart successfully',
                icon: 'success',
                button: 'Ok'
            })
        }

        predefinedBouquet.forEach((bouquet) => {
            document.getElementById("product").innerHTML +=
                "<div id=product"+bouquet.idBouquet+">"+
                    "<div class=predefined-article>"+
                        "<div class=predefined-article-img>"+
                            "<img src="+bouquet.image+" alt=flower>"+
                        "</div>"+
                        "<div class=info>"+
                            "<h1 class=article-name>"+ bouquet.name + "</h1>" +
                            "<p class=article-description>" + bouquet.description + "</p>" +
                            "<p>" + "Price: "+ bouquet.price + "$" + "</p>" +
                            "<button type=submit class=add-command value="+bouquet.idBouquet+" onclick=addProduct(this.value)>Add to cart</button>"+
                        "</div>"+
                    "</div>" +
                "</div>"
        })
    </script>
</div>

<!-- List of predefined bouquet end -->

<!-- Custom option start -->
<div class="predefined-article">
    <div class="predefined-article-img">
        <img src="/images/own-illustration.jpg" alt="flower">
    </div>
    <div class="info">
         <h1 class="article-name">
             Personal
         </h1>
        <p class="article-description">
            Make your own bouquet
        </p>
        <a href="/customize" class="add-command">Go to</a>
    </div>
</div>
<!-- Custom option end -->

<script>
    $(document).ready(function()
    {
        $(".predefined-article-img").find("img").css("transition", "transform 500ms ease-in-out");

        $(".predefined-article-img").hover(
            // Handler for mouseenter
            function()
            {
                $(this).find("img").css("transform", "scale(1.2)");
            },
            // Handler for mouseleave
            function()
            {
                $(this).find("img").css("transform", "scale(1)");
            }
        );
    });

    $('.expandHome').mouseover(function() {
        $('.sub-home').css({
            'display': 'block'
        });
    });
    $('.subnavbtn').mouseover(function() {
        $('.sub-home').css({
            'display': 'none'
        });
    });

    $('#trapezoid').mouseleave(function() {
        $('#trapezoid').css({
            'margin-top': '-53px'
        });
        $('.sub-home').css({
            'display': 'none'
        });
    }).mouseenter(function() {
        $('#trapezoid').css({
            'margin-top': '0px'
        });
    });
</script>
