<br>
<br>
<div class="form">
            <h1>Blossom Hana</h1>
            <p>Create an account or login</p>
            <a href="/users/register" class="add-command">Register</a>
            <a href="/users/login" class="add-command">Login</a>
</div>